*.o
deps/.make-cflags
deps/.make-ldflags
deps/.make-prerequisites
deps/lua/src/liblua.a
deps/lua/src/lua
deps/lua/src/luac
src/.make-prerequisites
src/.make-settings
src/id-redis-server
src/redis-benchmark
src/redis-check-aof
src/redis-check-dump
src/redis-cli
src/redis-sentinel
src/release.h
tags
tests/tmp/

